//====================================================================================================
.header {

		/* .header__container */
  padding-top: 50px;
		&__container {
		}

		/* .header__wrapp */

		&__wrapp {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
		}

		/* .header__logo */

		&__logo {
		}

		/* .header__logo-img */

		&__logo-img {
		}

		/* .header__menu */

		&__menu {
		}

		/* .header__btn */

		&__btn {
      border: 1px solid #DB00F9;
      border-radius: 100px;
      padding: 19px 24px;
      font-size: 18px;
		}
}
.menu {

		/* .menu__body */

		&__body {
		}

		/* .menu__list */

		&__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
		}

		/* .menu__item */

		&__item {
		}

		/* .menu__link */

		&__link {
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0%;
      text-align: left;
		}

		/* .menu__icon */

		&__icon {
		}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

