//====================================================================================================
// Главный Экран
.main {
  // .main__container
  background-image: url("@img/main-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 316px;
    height: 316px;
    background-image: url("@img/decoretion/main-right.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    @media (max-width: em(1133)) {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 254px;
    height: 254px;
    background-image: url("@img/decoretion/main-left.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    @media (max-width: em(983)) {
      display: none;
    }
  }

  // .main__wrapp

  &__wrapp {
    @include adaptiveValue("padding-top", 132, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  // .main__top

  &__top {
    text-align: center;
    margin-bottom: 180px;
    @include adaptiveValue("margin-bottom", 180, 100);
  }

  // .main__title

  &__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    @include adaptiveValue("font-size", 220, 60);
    font-weight: 700;
    @include adaptiveValue("line-height", 160, 73);
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 30, 15);
    span {
      color: rgb(219, 0, 249);
      font-family: Montserrat;
      @include adaptiveValue("font-size", 220, 60);
      font-weight: 700;
      @include adaptiveValue("line-height", 160, 73);
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
    }
  }

  // .main__description

  &__description {
    max-width: 630px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: Evolventa;
    @include adaptiveValue("font-size", 24, 16);
    font-weight: 700;
    @include adaptiveValue("line-height", 32, 21);
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
    @include adaptiveValue("margin-bottom", 50, 25);
    @media (max-width: em(400)) {
      max-width: 320px;
    }
  }

  .main__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: em(1024)) {
      flex-direction: column;
      gap: 20px;
    }
  }

  // .main__btn

  &__btn {
    @include adaptiveValue("padding-top", 20, 19);
    @include adaptiveValue("padding-bottom", 20, 19);
    @include adaptiveValue("padding-left", 100, 79);
    @include adaptiveValue("padding-right", 100, 79);
    box-sizing: border-box;
    border: 1px solid rgb(219, 0, 249);
    border-radius: 100px;
    width: 320px;
  }

  .main__btn-color {
    background: rgb(219, 0, 249);
    display: none;
    @media (max-width: em(1024)) {
      display: block;
      font-size: 14px;
      @include adaptiveValue("padding-top", 20, 19);
      @include adaptiveValue("padding-bottom", 20, 19);
      @include adaptiveValue("padding-left", 100, 79);
      @include adaptiveValue("padding-right", 100, 79);
      width: 320px;
    }
  }

  // .main__item

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  // .main__link

  &__link {
    display: block;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    opacity: 0.5;
  }
}

//====================================================================================================
